@mixin flex($justify: unset, $align: unset){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin content-container($width){
    width: $width - 30px;
    margin: auto;
}

