$font-primary: "Montserrat", sans-serif;
$font-secondary: "Lato", sans-serif;

$resolution-low: 320px;
$resolution-medium: 481px;
$resolution-high: 993px;

$content-min-width: 320px;
$content-max-width: 1200px;

$color-menu-low-res: #FFFFFF;
$color-menu-low-res-hover: #8D81AC;
$color-menu-hi-res: #8D81AC;
$color-menu-hi-res-hover: #FFFFFF;
$color-text-content: #848E97;
$color-section-editor-header: #635C73;
$color-section-editor-text: #323232;

$transition-length: 300ms;

$btn-text-color: white;
$btn-text-color-hover: #8D81AC;
$btn-back-color:#8D81AC;
$btn-back-color-hover:white;

$backgroundcolor-section-subscription-pricing: rgb(255, 255, 255);
$line-color-section-subscription-pricing: rgba(141, 129, 172, 1);



